{{#partial "content"}}

    <h1>Team Players!</h1>


    {{#if Posts}}

        {{#each Posts}}
            <ul>

                <li>Member 1: {{ member1 }} </li>
                <li>Member 2: {{ member2 }} </li>
                <li>Member 3: {{ member3 }} </li>
                <li>Member 4: {{ member4 }} </li>
                <p>{{ raccoon }} <a href="/posts/{{id}}">see more players...</a></p>
            </ul>
        {{/each}}
    {{else}}
        <p>No members added!</p>
    {{/if}}



{{/partial}}

{{> layout.hbs}}